/* style.css 
   Author: 
   Date: 
*/

h1 {
	color:rgb(175,18,88);
	text-align: center;
}
#rr{
	text-align: center;
}
div{
	border:3px solid black;
}
#container{
	width:800px;
	margin:10px auto;
}
#partone{
	height:200px;
	padding:20px;
	background-color: rgb(207,191,140);
}
#results{
	background-color: rgb(244,222,41);
}
#correct,#incorrect{
	text-align: center;
	float:left;
	height:80px;
    width:300px;
    margin-right: 20px;
    margin-left: 32px;
    margin-top:30px;
    background-color: rgb(253,218,4);
}
#parttwo{
	padding:20px;
	overflow:hidden;
	background-color:rgb(226,211,172);
}
#pics{
	float:left;
	padding:20px;
	width:250px;
	background-color: rgb(253,218,4);
}
#pics img{
	width:230px;
	margin-left:10px;
}
#celes{
	float:right;
	padding:20px;
	width:300px;
	background-color: rgb(253,218,4);
}
.cele {
	padding: 20px;
	margin-bottom: 30px;
	background-color: orange;
}
.pic{
	background-color: orange;
}
